.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container{
  display: flex;
}

.sidebar{
  display: block;
  align-items: center;
  justify-content: center ;
  width: 400px;
  background-color:rgb(72, 81, 88);
  border: 1px solid blue;
}

/* Selection bar  */

#sortingSelect{
  background: #aa9b9b;
}

.divSelect{

  height: 300px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 5px;
  color: black;

}

#divProductSelect{

  background: #d2cdcd;
  
  }

  #divManufacturerSelect{
    background: #a19b9b;
  
  }
  
  #divTagsSelect{

    background: #d7d2d2;
  }

  div p {
    
    margin-top: 1px;
    margin-left: 1px;
  }



  /*  Side bar has ended */


.products-container{
  display: flex;
  /* align-items: center; */
  flex-wrap: wrap;
  border: 1px solid red;
  padding: 10px;
  gap: 10px;

  color: white;
}
.product-card {
  border: 1px solid green;
  padding: 3px;
  max-width: 200px;
  background: gray
}

.pagination-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.pagination-box  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.page {
  border: 1px solid blue;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.limit{
  border: 1px solid blue;
  border-radius: 5%;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: small;
}

.form-select{
  display: flex;
  justify-content: center;
  align-items: center;
}



