.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.app-container{
  display: flex;
}

/* -------------- Header - Start ---------   */

.header{
  display: flex;
  align-items: center;
  background-color: #1EA4CE;
  height: 77px;

  
}


.header .market{
  width: 80%;
  color: #fff;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.header .total{
  width: 20%;

  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.total img{
  width: auto;
  height: auto;
}

/* -------------- Header - End ---------   */


/* -------------- Sidebar - Start ---------   */

.sidebar{
  display: block;
  align-items: center;
  width: 400px;
  border: 1px solid blue;
  background-color: #bab8b8;
}


.sortingDiv{


  height: 214px;
  margin-left: 30px;
  margin-top: 20px;
  margin-right: 10px;
  background-color: white;
  color: black;
}

.sortingDiv span{


}

.sortingDiv label{
display: flex;
gap: 5px;

}

.divSelect{

  height: 300px;
  margin-top: 30px;
  margin-left: 50px;
  margin-right: 5px;
  color: black;
  overflow: scroll;

}




#divProductSelect{

  background: #d2cdcd;
  
  }

  #divManufacturerSelect{
    background: #a19b9b;
  
  }

  #divManufacturerSelect label{
    width: 80%;
  
  }


  #divManufacturerSelect input{
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  
  }
  
  #divTagsSelect{

    background: #a19b9b;
    
    
  }

  #tagsElement{
    display: flex;
    height: auto;
    width: auto;
    background: #a19b9b;

  }
  #tagsElement label{
    height: auto;
    width: auto;
  

  }


  div p {
    
    margin-top: 1px;
    margin-left: 1px;
  }



  /* ------------- Side Bar -  End ------------- */


  /* ------------- Product Card - Start ------------- */

  .products-container{
    display: flex;
    /* align-items: center; */
    flex-wrap: wrap;
    border: 1px solid red;
    padding: 10px;
    gap: 10px;
  
    color: white;
  }
  .product-card {
    padding: 3px;
    max-width: 200px;
    background: white;
  }

  .pcButton button {
    width: 100%;
    background-color: #1EA4CE;
    color: #fff;

  }

  .pcName {
    width: 100%;
    color: black;
    margin-bottom: 5px;

  }

  .pcImage {
    min-width: 50px;
    min-height: 80px;
    border: 2px solid red;
    margin: 10px;

  }

  .pcPrice {
    color: #1EA4CE;

  }



  /* ------------- Product Card - End ------------- */




.pagination-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.pagination-box  {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 20px;
}
.page {
  border: 1px solid blue;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
}

.limit{
  border: 1px solid blue;
  border-radius: 5%;
  padding: 10px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  font-style: italic;
  font-size: small;
}

.form-select{
  display: flex;
  justify-content: center;
  align-items: center;
}



